package ${packageName}.service;

#if($table.formType != 2)
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
#end
import com.baomidou.mybatisplus.extension.service.IService;
import com.ctsi.ssdc.model.AjaxResult;
import ${packageName}.domain.${ClassName};
#if($table.formType == 2)
import java.util.List;
#end
/**
 * 服务类
 *
 * @author ${author}
 * @since ${datetime}
 */
public interface ${ClassName}Service extends IService<${ClassName}> {

#if($table.formType != 2)

    Page<${ClassName}> queyPageByCondition(${ClassName} ${className}, Page<${ClassName}> page);
#end
#if($table.formType == 2)

    List<${ClassName}> quey${ClassName}sList(${ClassName} ${className});

    List<${ClassName}> treeSelectAll();

    List<${ClassName}> treeSelectByParentId(Long ${treeParentCode});
#end

    AjaxResult remove${ClassName}ByTableId(Long ${pkColumn.javaField});

}
